* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background: rgb(5, 2, 0);
    color: rgb(253, 253, 253);

}

/* Navbar */
nav {
    width: 100%;
    padding: 1.2rem 5%;
    background: rgb(17, 9, 0);
    border-bottom: 1px solid rgb(15, 0, 0);
    backdrop-filter: blur(15px);
    margin-bottom: 2rem;
    
    box-shadow: 0 0 10px rgb(253, 100, 45);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fav {
    font-size: 1.5rem;
    letter-spacing: 1px;
    color:orangered;
    font-weight: 600;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2.5rem;
    
}

.nav-links li a {
    text-decoration: none;
    color: aliceblue;
    position:relative;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: rgb(201, 66, 17);
    
}

/*Buttons*/
.btns {
    display: flex;
}

.btn {
    padding: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 20px;
    font-weight: 300;
    font-size: 0.8rem;
    background: orangered;
    color: white;
    border: none;
    box-shadow: 0 0 5px rgb(128, 79, 61);
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: rgb(173, 49, 3);
    
}

h1,h4 {
    padding-left: 2rem;
}



.box {
    display: flex;
} 

.box-1 {
    padding: 20px 20px 20px 20px;
    width:25%;
    max-width: 360px;
    margin: 10px;
    margin-bottom: 30px;
    margin-left: 2rem;
    border-radius: 10px;
    height: 50%;
    border-radius: 20px;
    font-weight: 500;
    font-size: 0.8rem;
    background: rgb(14, 14, 14);
    color: white;
    border: none;
    box-shadow: 0 0 0px white;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;

}

.details {
    padding-top: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: justify;

}

.btn-container {
    margin-left: rem;
}
.btn-link {
    padding: 0.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 20px;
    font-weight: 500;
    font-size: 0.8rem;
    background: black;
    color: white;
    border: none;
    box-shadow: 0 0 1px white;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 0.5rem;
    margin-left: 2rem;
    max-width:fit-content;
    text-decoration: none;
    display: inline-block;
}

.btn-link2 {
    padding: 0.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 20px;
    font-weight: 500;
    font-size: 0.8rem;
    background: black;
    color: white;
    border: none;
    box-shadow: 0 0 1px white;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 0.5rem;
    
    max-width:fit-content;
    text-decoration: none;
    display: inline-block;
}

.btn-link:hover,.btn-link2:hover {
  background-color: wheat;
  color: black;
}

/* Footer */
.footer {
    background-color: rgb(14, 8, 8);
    padding: 10px;
    padding-left: 30px;
    font-size: 1rem;
    margin-top: auto;
}

.footer-link {
    padding: 10px;
    margin: 0;
}

.footer .footer-link {
    display: flex;
    justify-content: space-evenly;
}
.footer h3 {
    color: white;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    color: orangered;
    transition: 0.15s;
}

.footer p {
    padding: 5px;
    padding-left: 50px;

}